.HomePage {
    padding: 0rem;
    background-color: #cfafef;
    
    border-radius: 2rem;
    overflow: hidden;
}

.top-section {
    display: flex;
    flex-direction: column;
}

.header {
    height: 80vh;
    
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #cfafef 40%, #B721FF 100%);
}

.reporting {
    margin-top: 2rem;
}